@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 3%;
  padding: 0;
  background-color: black;
  color: darkgray;
  font-family: Norse-Bold;
  font-size: 1.5rem;
}

#image-container {
  width: 100%;
}

#image-container img {
  width: 100%;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.blurb {
  text-align: center;
  margin: 0 2%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 80%;
}

.form-item {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

@media (width > 480px) {

}