@font-face {
font-family: NorseBold;
src: url("/home/forestmusic/odin-project/repos/sign-up-form/fonts/Norse-Bold.otf");
}

* {
    font-family: NorseBold;
    color: rgba(255, 255, 255, 0.507);
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    color: lightgray;
    background-color: black;
}

label {
    font-size: 2rem;
}

#side-image-container {
    height: 100%;
}

#side-image-container img {
    height: 100%;
}

#main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 40px;
}

h1 {
    font-size: 5rem;
}

#form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#form-container form {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 10em 10em 10em 10em;
    align-items: center;
    justify-items: center;
    background-color: rgb(23, 24, 24);
}

.form-row input {
    width: 250px;
    height: 30px;
    color: black;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 10px;
}

.form-row {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
    margin: 0 50px;
}

input[type="text"], input[type="password"], input[type="email"] {
    background-color: whitesmoke;
}

.submit-button button {
    width: 100px;
    height: 40px;
    color: black;
    font-size: 1.5rem;
    border-radius: 5px;
}